.table-container {
  overflow-x: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.product-table th,
.product-table td {
  padding: 1rem;
  text-align: left;
}

.product-table th {
  background-color: #000000;
  color: #eaeaea;
  font-weight: bold;
}

.product-table tr:nth-child(even) {
  background-color: #eaeaea;
}

/* .product-table tr:hover {
  background-color: #637a9f;
} */

.product-table td button {
  margin-right: 0.5rem;
}

.red {
  color: red;
}
